#about {
  background-color: #01babc; }
  #about .about__img {
    text-align: center; }
    #about .about__img img {
      width: 80%; }
      @media only screen and (max-width: 992px) {
        #about .about__img img {
          width: 100%; } }
      @media only screen and (max-width: 768px) {
        #about .about__img img {
          width: 90%; } }
  #about .about__text {
    color: white;
    margin-top: 5%; }
    #about .about__text--title {
      font-size: 5em; }
      @media only screen and (max-width: 1200px) {
        #about .about__text--title {
          font-size: 4em; } }
      @media only screen and (max-width: 768px) {
        #about .about__text--title {
          text-align: center; } }
    #about .about__text--long {
      font-size: 1em; }
      @media only screen and (max-width: 992px) {
        #about .about__text--long {
          font-size: 0.9em; } }
      @media only screen and (max-width: 768px) {
        #about .about__text--long {
          font-size: 1em;
          padding-bottom: 5%; } }
    @media only screen and (max-width: 1200px) {
      #about .about__text {
        margin-top: 3%; } }
    @media only screen and (max-width: 992px) {
      #about .about__text {
        margin-top: 1%; } }
