.blog {
  background-color: #b07cf7;
  font-family: "Raleway";
  text-align: center;

  &__header--title {
    margin-top: 5%;
    font-size: 90px;
    color: white;
    font-weight: bold;
  }

  &__header--text {
    font-size: 17px;
    color: white;
    line-height: 1.471;
    padding: 3% 20%;
  }

  &__post {
    text-align: center;

    img{
      margin: 0 auto;
    }
  }

  &__date {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(38, 38, 38, 0.502);
    width: 60px;
    height: 60px;
    position: relative;
    top: 80px;
    left: 20px;
    &--day {
      font-size: 32px;
      line-height: 0.781;
      @media#{$sm-screen}{
        font-size: 26px;
      }
    }
    &--month {
      font-size: 21px;
      line-height: 1.19;
      @media#{$sm-screen}{
        font-size: 16px;
      }
    }

    @media#{$xs-screen}{
      margin: 0 auto;
      left:-140px;
    }

    @media screen and (max-width: 450px){
      margin: 0;
      left:20px;
    }
  }

  &__text {
    color: white;
    text-align: left;
    position: relative;
    bottom: 100px;
    padding:0 20px;
    background-color: rgba(38, 38, 38, 0.352);
    box-shadow: 0 0 200px rgb(38, 38, 35);

    &--title {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.25;

      @media#{$sm-screen}{
        font-size: 17px;
      }

      @media screen and (max-width: 450px) {
        font-size: 14px;
      }
    }

    &--author {
      @media screen and (max-width: 450px) {
        font-size: 10px;
      }
    }

    @media#{$xs-screen}{
      margin: 0 auto;
      width: 50%;
    }

    @media screen and (max-width: 450px) {
      width: 100%;
    }

    @media screen and (max-width:650px){
      width: 60%;
    }

    @media screen and (max-width:520px){
      width: 80%;
    }
  }

  &__button {
    margin-bottom: 5%;
    margin-top:5%;
    color: white;

    button {
      background-color: rgb(247, 43, 59);
      height: 55px;
      border: none;
      outline: none;
      width: 170px;

      &:hover {
        box-shadow: 0 20px 30px 0 rgba(247, 43, 59, 0.3);
      }
    }
  }
}






