.gallery{
  background-color: #ffe92f;
  text-align: center;
  font-family: "Raleway";

  &__text{
    margin-top:5%;
    color:black;

    &--title {
      font-size: 90px;
      font-weight: bold;
      @media#{$md-screen}{
        font-size: 4em;
      }
    }

    &--long{
      font-size: 17px;
      line-height: 1.588;
      padding: 2% 20%;
      text-align: center;
      @media screen and(max-width:500px){
        padding: 2% 5%;
      }
    }
  }

  &__photo{
    div{
      img{
        @media#{$xs-screen}{
          margin: 3% auto;
          width: 100%;
        }
      }
    }

    &--two{
      img{
        padding-bottom: 5%;
        margin-left: 8%;
        width: 88%;
        @media#{$sm-screen}{
          width: 85%;
        }
        @media#{$xs-screen}{
          padding: 0 2%;
        }
        @media screen and(max-width:500px){
          padding: 0 4%;
        }
      }
    }
  }

  &__button{
    margin-top: 4%;
    margin-bottom: 4%;
    
    button {
      background-color: #5585a2;
      padding: 20px;
      font-size: 20px;
      color: white;
      border-color: transparent;
    }
  }
}