.nav{
  //position: fixed;
  background: transparent;
  //margin-right: 15%;
 // margin-left: 15%;
  //z-index: 100;\

  //padding: 2% 1%;
 /* ul{
    text-align: right;
    li{
      list-style-type: none;
      display: inline-block;
      font-size: 15px;
      font-weight: bold;
      padding: 1% 2%;

    @media#{$md-screen}{
      margin-top:2%;
      font-size: 13px;
    }

      @media screen and(max-width: 650px){
      font-size: 10px;
    }

    }
  }*/

  &__logo{

    @media#{$xs-screen}{
      //visibility: hidden;
    }
  }


  @media#{$xs-screen}{
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
  }
}

#active{
  border-top:4px solid darkorange;
}



.nav__list,.nav__logo{
  @media#{$xs-screen}{
    margin:3% 0;
    //display: none;
  }
}

.nav__list{
  padding-top:2%;
}

.navbar-main{
  padding: 2% 0;
  background: transparent;
  border: none;
  &__menu{
    padding-top: 2%;
    font-size: 15px;
    font-weight: bold;

    #active{
      border-top:4px solid darkorange;
      background-color: transparent;
    }
  }
}